
services:
  ssh-frontend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "8182:80"
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    env_file:
      - .env
    restart: unless-stopped


